* {
  font-family: 'Courier New', monospace;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.games button {
  height: 50%;
}

.winner {
  color: green;
  font-size: 7rem;
}

.app.read > div:last-child,
.app.spell > div:last-child,
.app.yes > div:last-child {
  height: 50%;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: green;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding: .5rem 0;
}

.progress {
  height: .5rem;
  background-color: navy;
}

.go, .read, .spell, .yes {
  font-size: 3rem;
}

.go > div:last-child,
.read > div:last-child,
.yes > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.status {
  font-size: 1rem;
  margin: 2rem 0;
}

.spell > div:last-child {
  align-items: flex-end;
  background-color: navy;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.read > div:last-child,
.yes > div:last-child {
  color: green;
  font-weight: 600;
  font-size: 5rem;
}

button {
  color: gold;
  background-color: navy;
  border: 0px;
  font-size: 2rem;
}

.keyboard button {
  width: 20%;
  height: 25%;
}

button.play {
  background-color: unset;
}

button.reset,
button.quit,
button.go {
  padding: 2rem;
}

button.reset,
button.quit {
  margin: 0 1rem;
  padding: 1rem;
}

button.remove, button.give-up {
  color: white;
  font-weight: 600;
}
