* {
  font-family: Courier;
  text-align: center;
}

.score {
  background-color: green;
  border: 2px solid navy;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  left: 50%;
  padding: .5rem 1rem;
  position: absolute;
  top: 2px;
  transform: translateX(-50%);
}

.read, .spell, .yes {
  font-size: 4rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.yes {
  color: green;
  font-weight: 600;
  font-size: 5rem;
}

button {
  color: gold;
  background-color: navy;
  border: 0px;
  font-size: 2rem;
  margin: .5rem;
  padding: .5rem 1.25rem;
}

button.remove {
  background-color: black;
  color: white;
}

button.give-up {
  background-color: red;
  color: white;
}

.read button {

}
